<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

    <div class="App">
        <div class="header">
            <div class="nav-item">
              <h1>Writers Block</h1> 
            </div>
       </div>
       <div class="content">
        <div class="script-card">
            <div class="card-detail">
                <div><h2 class="token_detail">Script Title:{scriptTokenInfo.Title}</h2></div>
                <div><h5 class="token_detail">Writer:{scriptTokenInfo.Writer}</h5></div>
                <div><h5 class="token_detail">Owner:{scriptTokenInfo.Owner}</h5></div>
                <div><h5 class="token_detail">Genere:{scriptTokenInfo.Genere}</h5></div>
                <div><h5 class="token_detail">Sale Type:{scriptTokenInfo.SaleType}</h5></div>                    
                <div> <h5 class="token_detail">Created Date:{scriptTokenInfo.CreatedDate}</h5></div>
                <div> <h5 class="token_detail">End of sale on:{scriptTokenInfo.EndOfSale} </h5></div>
                <div> <h2 class="token_detail">Price: {scriptTokenInfo.Price}</h2></div>
                <div> <h5 class="token_detail">________________</h5></div>
                <button class="btn_" type="button" onClick={this.handleBuy}>Buy</button>
                <button class="btn_" type="button" onClick={this.handleScriptSummery}>Read Summery</button>
            </div>               
        </div>
     </div>   
</div>

</body>
</html>