<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<div class="App">
    <div class="header">
        <div class="nav-item">
          <h1>Writers Block</h1> 
        </div>
   </div>
   
   <div class="content">
     <form action='http://localhost:3000/' method="GET" encType="multipart/form-data">
      <div className="upload-script">
            <div className="card-detail">
                <h1>Token Created Succufuly!</h1>
              <button className="btn_" type="submit" onClick={this.handleSubmit}>Home</button>        

          </div>
       </div>
        
       </form>          
      </div>
      
  </div>

</body>
</html>